<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yn.dao.LogMapper">
  <resultMap id="BaseResultMap" type="com.yn.entity.Log">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_date" javaType="java.util.Date" />
      <arg column="ip" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="method" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="module" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="nickname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="operation" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="params" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="time" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="userid" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, create_date, ip, method, module, nickname, operation, params, time, userid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_log where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.yn.entity.Log">
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      create_date,
      <if test="ip != null">
        ip,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="module != null">
        module,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="operation != null">
        operation,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="userid != null">
        userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      now(),
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="module != null">
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>