<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yn.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.yn.entity.User">
		<constructor>
			<idArg column="id"/>
			<arg column="account" javaType="java.lang.String" jdbcType="VARCHAR" />
			<arg column="admin" javaType="java.lang.Boolean" jdbcType="BIT" />
			<arg column="avatar" javaType="java.lang.String" jdbcType="VARCHAR" />
			<arg column="create_date" javaType="java.util.Date" />
			<arg column="deleted" javaType="java.lang.Boolean" jdbcType="BIT" />
			<arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
			<arg column="last_login" javaType="java.util.Date" />
			<arg column="mobile_phone_number" javaType="java.lang.String" jdbcType="VARCHAR" />
			<arg column="nickname" javaType="java.lang.String" jdbcType="VARCHAR" />
			<arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
			<arg column="salt" javaType="java.lang.String" jdbcType="VARCHAR" />
			<arg column="status" javaType="java.lang.String" jdbcType="VARCHAR" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List">
		id, account, admin, avatar, create_date, deleted, email, last_login,
		mobile_phone_number,
		nickname, password, salt, status
	</sql>
	<select id="getUserById" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where id = #{id,jdbcType=BIGINT} and deleted = 0
	</select>
	<select id="findByAccount" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where account = #{account} and deleted = 0
	</select>
	<select id="exitUser" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select count(1)
		from sys_user
		where account = #{account} and deleted = 0
	</select>
	<update id="deleteUserById" parameterType="java.lang.Long">
		update sys_user set deleted = 1
		where id = #{id,jdbcType=BIGINT}
	</update>
	<insert id="saveUser" parameterType="com.yn.entity.User">
		insert into sys_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="account != null">
				account,
			</if>
			<if test="admin != null">
				admin,
			</if>
			<if test="avatar != null">
				avatar,
			</if>
			create_date,
			<if test="deleted != null">
				deleted,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="lastLogin != null">
				last_login,
			</if>
			<if test="mobilePhoneNumber != null">
				mobile_phone_number,
			</if>
			<if test="nickname != null">
				nickname,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="salt != null">
				salt,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="account != null">
				#{account,jdbcType=VARCHAR},
			</if>
			<if test="admin != null">
				#{admin,jdbcType=BIT},
			</if>
			<if test="avatar != null">
				#{avatar,jdbcType=VARCHAR},
			</if>
			now(),
			<if test="deleted != null">
				#{deleted,jdbcType=BIT},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="lastLogin != null">
				#{lastLogin,jdbcType=TIMESTAMP},
			</if>
			<if test="mobilePhoneNumber != null">
				#{mobilePhoneNumber,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				#{nickname,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				#{salt,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateUser"
		parameterType="com.yn.entity.User">
		update sys_user
		<set>
			<if test="account != null">
				account = #{account,jdbcType=VARCHAR},
			</if>
			<if test="admin != null">
				admin = #{admin,jdbcType=BIT},
			</if>
			<if test="avatar != null">
				avatar = #{avatar,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				deleted = #{deleted,jdbcType=BIT},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="lastLogin != null">
				last_login = #{lastLogin,jdbcType=TIMESTAMP},
			</if>
			<if test="mobilePhoneNumber != null">
				mobile_phone_number = #{mobilePhoneNumber,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				nickname = #{nickname,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				salt = #{salt,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateLoginTime" parameterType="java.lang.Long">
		update sys_user set
		last_login = now() where id = #{id}
	</update>
</mapper>