<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yn.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.yn.entity.User">
			<id column="id"/>
			<result column="account" javaType="java.lang.String" property="account"/>
			<result column="admin" javaType="java.lang.Boolean" property="admin"/>
			<result column="avatar" javaType="java.lang.String" property="avatar"/>
			<result column="create_date" javaType="java.util.Date" property="createDate"/>
			<result column="deleted" javaType="java.lang.Boolean" property="deleted"/>
			<result column="email" javaType="java.lang.String" property="email"/>
			<result column="last_login" javaType="java.util.Date" property="lastLogin"/>
			<result column="mobile_phone_number" javaType="java.lang.String" property="mobilePhoneNumber"/>
			<result column="nickname" javaType="java.lang.String" property="nickname"/>
			<result column="password" javaType="java.lang.String" property="password"/>
			<result column="salt" javaType="java.lang.String" property="salt"/>
			<result column="status" javaType="java.lang.String" property="status"/>
	</resultMap>
	<sql id="Base_Column_List">
		id, account, admin, avatar, create_date, deleted, email, last_login,
		mobile_phone_number,
		nickname, password, salt, status
	</sql>
	<select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where id = #{id,jdbcType=BIGINT} and deleted = 0
	</select>
	<select id="findAll" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where deleted = 0
	</select>
	<select id="findByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where account = #{account} and deleted = 0
	</select>
	<select id="exitUser" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(1)
		from sys_user
		where account = #{account} and deleted = 0
	</select>
	<update id="deleteById" parameterType="java.lang.Long">
		update sys_user set deleted = 1
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateLoginInfo" >
		update sys_user set last_login = now(),last_ip = #{ip}  where id = #{id}
	</update>
	
	<select id="getLimitIp" resultType="java.lang.String">
		SELECT ip FROM sys_limit_ip where status = 1
	</select>
</mapper>